main {
    display: flex;
    flex-direction: column;
    width: 20%;
}

main > div.buttons {
    display: flex;
    justify-content:space-between;
}

main > div.buttons > button {
    width: 49%;
}

main label, input, button, select {
    margin: 2px 0;
}

select {
    width: 100%;
    height: 200px;
}