.AlunoFilter {
    width: 100%;
    border: 1px solid black;
    margin: 0.5em;

    & .inputFilterAluno {
        border: 1px solid black;
        border-radius: 0.2rem;
        padding: 0.2rem;
        width: calc(100% - 1rem);
        margin: 0.5rem;
    }

}
