.estacao {
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 100vw;
    text-align: left;
}
.estacaoNome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    vertical-align: middle;
}
.estacaoImg {
    width: 50%;
}